body {
  background-color: #E6E4DC;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'DM Serif Display', serif;
  margin-bottom: 10px;
}



p {
  margin: 0;
}

.container {
  display: flex;
}

.exploration-space {
  padding: 40px;
  /* background-color: #ddd; */
  flex: 60%;
}

.image-display {
  box-sizing: border-box;
  height: 100vh;
  padding: 40px;
  flex: 40%;
  position: relative;
}

.image-display-inner {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-display-inner img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

img.floating-image {
  position: absolute;
}