<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>日本 Clothing | Exclusive Japan Inspired Mechandise</title>
  <meta name="description" content="Store for all the latest Japan insipired fashion.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/defaults.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <header class="left-header">
    <div class="side-header-inner header-wrap">
      <div class="header-top">
        <div class="branding">
          <a href="index.html"><img src="img/logo.png" alt="logo images"></a>
        </div>
        <div class="hamburger-menu">
          <a href="#"><i class="fas fa-bars"></i></a>
        </div>
      </div>
      <div class="header-center">
        <nav class="page_nav">
          <ul class="mainmenu">
            <li><a href="#"><span>Home</span></a></li>
            <li><a href="#"><span>About</span></a></li>
            <li><a href="#"><span>Team</span></a></li>
          </ul>
        </nav>
      </div>
      <div class="header-bottom">
        <p class="bk_pra secondary-font">© Karan Mhatre 2019.  <br> All Rights Reserved.</p>
      </div>
    </div>
  </header>

  <main class="container">
    <div class="slide-container">
      <div class="mouse"><img src="img/mouse.png" alt=""><br>Scroll</div>
      <div class="slide-portfolio-single slide-1">
        <div class="content">
          <h5>New Arrival</h5>
          <h2><a href="#" tabindex="-1">Long Length White <br>Jewels </a></h2>
          <div class="slide-btn">
            <a href="#" tabindex="-1">Get this look</a>
          </div>
        </div>
      </div>
      <div class="slide-portfolio-single slide-2">
        <div class="content">
          <h5>New Arrival</h5>
          <h2><a href="#" tabindex="-1">Akira Twist-Back <br>Sweater </a></h2>
          <div class="slide-btn">
            <a href="#" tabindex="-1">Get this look</a>
          </div>
        </div>
      </div>
      <div class="slide-portfolio-single slide-3">
        <div class="content">
          <h5>New Arrival</h5>
          <h2><a href="#" tabindex="-1">Marshmallow <br>Perfume </a></h2>
          <div class="slide-btn">
            <a href="#" tabindex="-1">Get glam!</a>
          </div>
        </div>
      </div>
    </div>
  </main>


  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="https://kit.fontawesome.com/b65469a39a.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
