h1, h2, h3, h4, h5, ul, a {
  padding: 0;
  margin:0;
}

ul {
  list-style: none;
}

/* Global */

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  background-color: #F3F3F2;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #ddd;
  margin: 20px 0px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

p {
  margin-bottom: 25px;
}

a {
  color: #FF7C02;
  text-decoration: none;
}

h1 a {
  text-decoration: none;
  color: #333;
}

a.block-link {
  position: relative;
  display: block;
  color: #333;
}

a.block-link span {
  color: #FF7C02;
}

a.block-link span > span {
  text-indent: -20px;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .15s ease-in;
  display: inline-block;
  overflow: hidden;
  height: 18px;
}

a.block-link:hover span > span {
  text-indent: 5px;
}

/* Global end */

/* header */

header {
  padding: 40px 20px 0px 20px;
}

.desktop-only {
  display: none !important;
}

.mobile-only {
  display: inline !important;
}

header h1 {
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
}

h2 {
  font-size: 24px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
}

h2.article-heading {
  font-size: 18px;
  margin-bottom: 20px;
}

/* end header */

/* container */

.container {
  padding: 0px 20px;
}

.container h4 {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}

.container h3 {
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

header h3 {
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 40px;
}

.link-list a {
  margin: 10px 0px;
  display: inline-block;
}

.container.last-container {
  margin-bottom: 40px;
}

/* container end */

/* works */

ul.works li {
  margin-bottom: 30px;
}

ul li h4 {
  margin-bottom: 15px;
}

/* works end */

/*  work details */

span.back-button {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: -4px;
}

ul.img-section {
  margin: 40px 0;
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}


ul.img-section::-webkit-scrollbar {
  display: none; }

ul.img-section>li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.img-section>li img{
  height: 400px;
}

.img-section>li {
  display: inline;
}

ul.social-links li {
  display: inline-block;
  margin-right: 20px;
}

ul.social-links li a {
  font-size: 24px;
  color: #333;
}

ul.social-links li a:hover {
  color: #FF7C02;
}

.img-section img.review-image {
  width: 300px;
  height: auto;
}

img.profile-image {
  width: 100%;
  margin-top: 20px;
}

a.github-button {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  border-radius: 100px;
  border: 2px solid #000;
  padding: 12px 50px;
  color: #000;
}

a.github-button i {
  font-size: 24px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

#json-display {
  width: 250px;
  box-sizing: border-box;
  height: 400px;
  margin-top: 0px;
  overflow-y: scroll;
  margin-bottom: 0px;
}

a.startButton {
  display: inline-block;
  padding: 8px 0px;
  border-radius: 50px;
  width: 50%;
  border: 2px solid #ff7c02;
  margin-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
}

.flowchat-container {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
}

#fc-container-2 {
  margin-bottom: 0;
}

#fc-container-2 ul.chat-window {
  height: 450px;
  width: 250px;
}

ul.chat-window>li {
  white-space: pre-wrap;
}

ul.chat-window>li.options>ul>li {
  margin-bottom: 10px;
}

.json-editor-blackbord {
  border-radius: 20px;
  padding: 20px;
}


.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #ffcdce;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}
.loading-screen.open {
  transform: scaleY(1);
  transform-origin: bottom left;
}

@keyframes loading-animation {
  0% {
    top: 100vh;
  }
  20% {
    top: 0px;
  }
  80% {
    top: 0px;
  }
  100% {
    top: -110vh;
  }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}


h2 span.pink-heading-bg {
  display: inline;
  z-index: -1;
  background-image: linear-gradient(#FFCDCE, #FFCDCE);
  background-position: 0 80%;
  background-repeat: no-repeat;
  background-size: 0 40%;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-size 1s .5s ease;
}

h2 span.pink-heading-bg.show {
  background-size: 100% 40%;
}


@media (min-width: 600px) {

  ul.img-section {
    overflow: visible;
  }

  ul.img-section {
    position: relative;
    left: -170px;
  }

  #json-display {
    width: 500px;
    height: 400px;
  }

  #fc-container-2 {
    margin-left: 25px;
  }

  #fc-container-2 ul.chat-window {
    height: 450px;
    width: 400px;
  }

  .container, header {
    width: 600px;
    margin: auto;
  }

  body {
    font-size: 16px;
  }

  header h1 {
  font-size: 32px;
  font-weight: 500;
  }

  h2 {
    font-size: 32px;
    color: #333;
    margin: 60px 0px;
    margin-bottom: 30px;
  }

  .container h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .container h4 {
    font-size: 18px;
  }

  h2.article-heading {
    font-size: 32px;
  }

  h5 {
    font-size: 18px;
  }

  .social-links {
    margin: 0;
  }

  .img-section img.review-image {
    width: 420px;
  }

  a.block-link:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 9px;
    transform: scaleX(0);
    left: -22px;
    background-color: #ffcdce;
    display: block;
    transform-origin: top right;
    -webkit-transition: 0.1s 0.2s ease-in;
    -o-transition: 0.1s 0.2s ease-in;
    transition: 0.1s 0.2s ease-in;
  }

  a.block-link:hover:before {
    transform: scaleX(1);
  }

  h1 {
    text-indent: 0px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }

  span.back-button {
    display: inline-block;
    width:0px;
    text-indent: 20px;
    overflow: hidden;
    top: 2px;
    margin: 0px;
    margin-right: 0px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }

  h1:hover a {
    color: #FF7C02;
  }

  h1:hover span.back-button{
    width: 20px;
    text-indent: 0px;
    margin-right: 4px;
  }

  .desktop-only {
    display: inline !important;
  }

  .mobile-only {
    display: none !important;
  }

}