* {
  box-sizing: border-box;
}

#imgContainer {
  padding-top: 10vh;
  max-width: 100vw;
}

#imgContainer img {
  width: 100%;
}

@media only screen and (max-width: 600px) {

  #imgContainer {
    padding-top: 20vh;
  }
  
}